# Server
PORT=5001
NODE_ENV=development

# Database
MONGODB_URI=your_mongodb_connection_string_here


# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# Google Gemini
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-1.5-flash

# Frontend
FRONTEND_URL=http://127.0.0.1:5500

# Uploads
MAX_PDF_SIZE_MB=5