PORT=5001

NODE_ENV=

MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d

GEMINI_API_KEY=your api key

GEMINI_MODEL=gemini-2.5-flash

FRONTEND_URL=http://127.0.0.1:5500

GOOGLE_MAPS_API_KEY=your api key

EMAIL_USER=email id 
EMAIL_PASS=password
